# [neopixel sb_leds]
# pin: PB10
# chain_count: 3
# color_order: GRBW
# initial_RED: 1.0
# initial_GREEN: 0.0
# initial_BLUE: 1.0
# initial_WHITE: 0.0

[neopixel sb_leds]
pin: nhk_0:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

[neopixel case_leds]
pin: PB6
chain_count: 36
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

#  Set RGB values on boot up for each Neopixel. 
#  Index 1 = display, Index 2 and 3 = Knob
# [delayed_gcode setdisplayneopixel]
# initial_duration: 1
# gcode:
#        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 



[gcode_macro set_logo_leds_off]
gcode:
    SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=1

[gcode_macro set_logo_leds_on]
gcode:
    SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 WHITE=1 INDEX=1

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 WHITE=1 INDEX=2 TRANSMIT=0
    SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 WHITE=1 INDEX=3

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=3

[gcode_macro set_case_leds_on]
gcode:
    SET_LED LED=case_leds RED=1 GREEN=1 BLUE=1 WHITE=1

[gcode_macro set_case_leds_off]
gcode:
    SET_LED LED=case_leds RED=0 GREEN=0 BLUE=0 WHITE=0
