# This file contains common pin mappings for the Nitehawk36 V1.4.
# To use this config, the firmware should be compiled for the 
# Raspberry Pi RP2040".

# change the mcu section name to the tool board you are configuring:
# NHK0, nhk_1, etc.
[mcu nhk_1]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236198F7B-if00
#serial = /dev/serial/by-id/usb-Klipper_rp2040_3033393834053A55-if00
restart_method: command

[extruder1] # Orbiter2.5 with CHCB-V Hotend
step_pin: nhk_1:gpio23
dir_pin: !nhk_1:gpio24
enable_pin: !nhk_1:gpio25
rotation_distance: 47.546
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: nhk_1:gpio9
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: nhk_1:gpio29
min_temp: -30
max_temp: 320
max_extrude_cross_section: 5
min_extrude_temp: 10
max_extrude_only_distance: 150
#pressure_advance_smooth_time: 0.040
control = pid
pid_kp = 18.360
pid_ki = 1.055
pid_kd = 79.870

# change the tmc2209 section name to match the extruder you are configuring:
# extruder, extruder1, etc.
[tmc2209 extruder1] # Orbiter2.5
uart_pin: nhk_1:gpio0
tx_pin: nhk_1:gpio1
sense_resistor: 0.100
run_current: 0.6
#stealthchop_threshold: 0

[heater_fan T1_hotend_fan]
pin = nhk_1:gpio5
tachometer_pin = nhk_1:gpio16
tachometer_ppr = 2
tachometer_poll_interval: 0.00015
kick_start_time = 0.5
heater = extruder1
heater_temp = 50
fan_speed = 1.0

# change the fan_generic section name to the tool you are configuring:
# T0_partfan, T1_partfan, etc.
[fan_generic T1_part_fan]
pin = nhk_1:gpio6
kick_start_time = 0.5
off_below = 0.10

[temperature_sensor NH36_T1]
sensor_type = temperature_mcu
sensor_mcu = nhk_1
min_temp = 0
max_temp = 100

# change the tool section name to the tool you are configuring:
# T0, T1, etc.
[tool T1]
tool_number: 1 # change to the index of the tool. 0, 1, 2, etc.
extruder: extruder1 # change to match the extruder you are configuring: extruder, extruder1, etc.
fan: T1_part_fan
params_park_x: 73.3 # The absolute X-position of the tool in its dock.
params_park_y: -38.8 # The absolute Y-position of the tool in its dock.
params_park_z: 288 # The absolute Z-position where the tool and shuttle mate in the dock, determined when the TAP (or Z-probe) triggers.
gcode_x_offset: 0.25 # The X-Axis offset of the nozzle's orifice in relation to tool 0
gcode_y_offset: -0.68 # The Y-Axis offset of the nozzle's orifice in relation to tool 0
gcode_z_offset: -0.09 # The Z-Axis offset of the nozzle's orifice in relation to tool 0

# Results from input shaper
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 50.6
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 36.6

# change the tool_probe section name to the tool you are configuring:
# T0, T1, etc.
[tool_probe T1]
pin: nhk_1:gpio10
tool: 1
x_offset = 0
y_offset = 0
z_offset = -1.280 # Needs to be calibrated. More positive = More Squish
speed: 5.0
lift_speed = 35
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder1 # change to match the extruder you are configuring: extruder, extruder1, etc.

# change the gcode_macro section name to the tool you are configuring:
# T0, T1, etc.
[gcode_macro T1]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode:
    _CQGL           # Make sure we have QGL before we grab the tool
    SELECT_TOOL T=1 
    set_nozzle_leds_on

    # change the accelerometer section name to the tool you are configuring:
# T0, T1, etc.
[adxl345 T1]
cs_pin: nhk_1:gpio27
spi_software_sclk_pin: nhk_1:gpio18
spi_software_mosi_pin: nhk_1:gpio20
spi_software_miso_pin: nhk_1:gpio19
axes_map: x,z,y

[neopixel t1_leds]
pin: nhk_1:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED LED=t1_leds RED=.6 GREEN=.6 BLUE=.6 WHITE=.6 INDEX=2 TRANSMIT=0
    SET_LED LED=t1_leds RED=.6 GREEN=.6 BLUE=.6 WHITE=.6 INDEX=3

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED LED=t1_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=t1_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=3

[gcode_macro set_t1_logo_leds_on]
gcode:
    SET_LED LED=t1_leds RED=.1 GREEN=0 BLUE=0 WHITE=0 INDEX=1

# [delayed_gcode _set_t1_neopixel]
# initial_duration: 1
# gcode:
#        SET_LED LED=t1_leds RED=0 GREEN=0 BLUE=0.1 WHITE=0 INDEX=1

[led_effect t1_rainbow]
leds:
    neopixel:t1_leds
autostart:                          true
frame_rate:                         6
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)