[delayed_gcode _CHAMBER_LOOP]
gcode:
  ; pull current values
  {% set target = printer["gcode_macro M141"].target|float %}
  {% set chamber = printer["temperature_sensor chamber"].temperature|float %}

  ; If the target is 0, then exit the loop and turn off the bed fans
  {% if target <= 0 %}
    UPDATE_DELAYED_GCODE ID=_CHAMBER_LOOP DURATION=0
    BEDFANSOFF
  {% else %}
    ; If the target is greater than 0, perform active control
    ; If the bed is NOT active, set the chamber target to 0 and shut down the loop
    {% if printer.heater_bed.target|float <= 0 %} 
      SET_GCODE_VARIABLE MACRO=M141 VARIABLE=target VALUE=0
      UPDATE_DELAYED_GCODE ID=_CHAMBER_LOOP DURATION=0
      BEDFANSOFF
    ; Otherwise, if the bed is on, continue
    {% else %} 
      ; If the bed is within 2 degrees of target (or above)
      {% if printer.heater_bed.temperature|float >= (printer.heater_bed.target|float - 2.0) %}
        ; If the chamber is less than the target
        {% if chamber < target %}
          BEDFANSFAST
        {% else %}
          BEDFANSSLOW
        {% endif %}
      {% else %}
        BEDFANSSLOW
      {% endif %}
    {% endif %}

    ; If the chamber exceeds the max, open the vent
    {% if chamber > 65.0 %}
      OPEN_VENT
    {% else %}
      CLOSE_VENT
    {% endif %}

    ; Loop every 5 seconds
    UPDATE_DELAYED_GCODE ID=_CHAMBER_LOOP DURATION=5
  {% endif %}
