[gcode_macro GOTO_CHAMBER_WAIT_POSITION]
gcode:
; Move to the center of the bed
    {% set x_center = (printer.toolhead.axis_minimum.x + printer.toolhead.axis_maximum.x) / 2 %}
    {% set y_center = (printer.toolhead.axis_minimum.y + printer.toolhead.axis_maximum.y) / 2 %}

    G0 X{x_center} Y{y_center}  Z50 F6000
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=80         ; Turn on the hot end for a little more heat
    SET_FAN_SPEED FAN=T0_part_fan SPEED=1