[include shutdown_timer.cfg]
[include nevermore_leds.cfg]
[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E663AC91D32F3932-if02

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
fan_power_coefficient: 0.6  # lower max power to keep things much more quiet

# Idle/passive floor so the filter keeps running at a minimum instead of dropping near 0.
fan_power_passive: 0.3
fan_thermal_limit_coefficient: 1 # 1 effectively disables thermal limiting

# Vent Servo
# NOTE: To reverse direction set `vent_servo_pulse_width_max` < `vent_servo_pulse_width_min`
# seconds \in (0, 0.02), duration of pulse when requested 0%
vent_servo_pulse_width_min: 0.00132
# seconds \in (0, 0.02), duration of pulse when requesting 100%
vent_servo_pulse_width_max: 0.00149

led_colour_order: GRB
led_chain_count: 7

[gcode_macro OPEN_VENT]
gcode:
    NEVERMORE_VENT_SERVO_SET PERCENT=0 HOLD_FOR=0.25
    
[gcode_macro CLOSE_VENT]
gcode:
    NEVERMORE_VENT_SERVO_SET PERCENT=1 HOLD_FOR=0.25