[include shutdown_timer.cfg]
[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E663AC91D32F3932-if02

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
fan_power_coefficient: 0.6  # lower max power to keep things much more quiet

# If the fan isn't a DELTA BFB0712HF (StealthMax BOM), you'll probably want to add
#   fan_power_minimum: ???
#   fan_power_kick_start_minimum: ???
# See full-doc for details and some common values.

# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail/Fluidd's temperature plot.
# [temperature_sensor nevermore_intake_VOC]
# sensor_type: NevermoreSensor
# sensor_kind: intake
# plot_voc: true

# Vent Servo
# NOTE: To reverse direction set `vent_servo_pulse_width_max` < `vent_servo_pulse_width_min`

# seconds \in (0, 0.02), duration of pulse when requested 0%
vent_servo_pulse_width_min: 0.00132
# seconds \in (0, 0.02), duration of pulse when requesting 100%
vent_servo_pulse_width_max: 0.00149

# LED
# For the optional LED feature.
# Members generally behaves like the WS2812 Klipper module.
# (e.g. supports heterogenous pixel chains)
#
# Values for commonly used LED strips (may be incorrect):
# |===
# | Device                  | led_chain_count | led_colour_order
# | Max BOM ring            |              16 | GBR
# | StealthMax v2 latch     |               7 | GBR
# |===
#
# If the colours seem wrong, fiddle with `led_colour_order`.
# Bear in mind that the device might also be a 4 component RGBW.

led_colour_order: GRB
led_chain_count: 7

[gcode_macro OPEN_VENT]
gcode:
    NEVERMORE_VENT_SERVO_SET PERCENT=0 HOLD_FOR=0.25
    
[gcode_macro CLOSE_VENT]
gcode:
    NEVERMORE_VENT_SERVO_SET PERCENT=1 HOLD_FOR=0.25