##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 39.783
microsteps: 64
full_steps_per_rotation:200
endstop_pin: PG9
position_min: -50
position_endstop: 255
position_max: 255
homing_speed: 25  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: true
run_current: 1.0
#sense_resistor: 0.110
#stealthchop_threshold: 0
# diag_pin: ^PG9
# driver_SGTHRS: 50
# driver_TBL: 1
# driver_TOFF: 3
# driver_HSTRT: 3
# driver_HEND: 3