[gcode_macro _EXTRA_PAUSE_CODE]
gcode:
    {% set etool = printer.toolhead.extruder | default("", true) %}
    {% set etarget = (printer[etool].target | int) if etool else 0 %}
    # Save tool + target for resume
    SET_GCODE_VARIABLE MACRO=_EXTRA_RESUME_CODE VARIABLE=etool VALUE="'{etool}'"
    SET_GCODE_VARIABLE MACRO=_EXTRA_RESUME_CODE VARIABLE=etemp VALUE={etarget}
    # Extend idle timeout while paused (optional)
    SET_IDLE_TIMEOUT TIMEOUT=43200
    # Turn off the hotend during pause
    M104 S0
    SFS_DISABLE