[gcode_macro PARK]
description: Raise Z by up to 50mm (clamped to max) and park 5mm from the back-right corner
gcode:
    {% set z_lift = 50 %}
    {% set margin = 5 %}
    {% set max = printer.toolhead.axis_maximum %}
    {% set pos = printer.toolhead.position %}
    {% set origin = printer.gcode_move.homing_origin %}

    # Target positions in machine coordinates
    {% set x_park = max.x - margin %}
    {% set y_park = max.y - margin %}
    {% set z_park = [pos.z + z_lift, max.z]|min %}

    SAVE_GCODE_STATE NAME=park_state
    G90
    # Convert to G-code coordinates so any Z offset / SET_GCODE_OFFSET doesn't push past the limits
    G1 Z{z_park - origin.z} F1200
    G1 X{x_park - origin.x} Y{y_park - origin.y} F20000
    RESTORE_GCODE_STATE NAME=park_state