# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

[toolchanger]
params_dropoff_path: [{'y':23 ,'z':3.9}, {'y':10, 'z':3.3}, {'y':0, 'z':3.3}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':23}]
params_pickup_path: [{'z':-10, 'y':16}, {'z':-10, 'y':0}, {'z':3, 'y':0, 'f':0.5, 'verify':1}, {'z':3.3, 'y':0, 'f':1.0}, {'z':3.9, 'y':15.0, 'f':3}, {'z':3.3, 'y':23.0, 'f':3}, {'z':3.3, 'y':15.0, 'f':3}, {'z':3.3, 'y':23.0, 'f':3}, {'z':3.3, 'y':15.0, 'f':3}, {'z':3.3, 'y':23.0, 'f':3} ]
params_close_y: 0
params_fast_speed: 10000 # Go as fast as we can
params_path_speed: 2000 # 900 = 20mm/s for the actual change
require_tool_present: True # can set to False if using Beacon/Cartographer/Eddy for Z probe.
before_change_gcode:
    {% set tn = "T"+(tool.tool_number|string) %}
    {% if printer["gcode_macro " + tn ] %}
       SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="''"
    {% endif %}
    
after_change_gcode:
    {% set tn = "T"+(tool.tool_number|string) %}
    {% if printer["gcode_macro " + tn ] %}
       SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="'c44'"
    {% endif %}
    {% if 'input_shaper' in printer.configfile.config %}
      {% set default_x_freq = printer.configfile.config['input_shaper']['shaper_freq_x']|default(0)|float %}
      {% set default_x_type = printer.configfile.config['input_shaper']['shaper_type_x']|default('mzv')|string %}
      {% set default_x_damping = printer.configfile.config['input_shaper']['damping_ratio_x']|default(0.1)|float %}
      {% set default_y_freq = printer.configfile.config['input_shaper']['shaper_freq_y']|default(0)|float %}
      {% set default_y_type = printer.configfile.config['input_shaper']['shaper_type_y']|default('mzv')|string %}
      {% set default_y_damping = printer.configfile.config['input_shaper']['damping_ratio_y']|default(0.1)|float %}
      SET_INPUT_SHAPER SHAPER_TYPE_X={tool.params_input_shaper_type_x if tool.params_input_shaper_type_x else default_x_type} SHAPER_FREQ_X={tool.params_input_shaper_freq_x if tool.params_input_shaper_freq_x else default_x_freq} SHAPER_TYPE_Y={tool.params_input_shaper_type_y if tool.params_input_shaper_type_y else default_y_type} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y if tool.params_input_shaper_freq_y else default_y_freq} DAMPING_RATIO_X={tool.params_input_shaper_damping_ratio_x if tool.params_input_shaper_damping_ratio_x else default_x_damping} DAMPING_RATIO_Y={tool.params_input_shaper_damping_ratio_y if tool.params_input_shaper_damping_ratio_y else default_y_damping}
    {% endif %}
    set_nozzle_leds_on TOOL={tool.tool_number if tool else -1}

# this section must be completed
[gcode_macro homing_override_config]
variable_sensorless_x: True
variable_sensorless_y: False
variable_homing_rebound_y: 0 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc2209"
variable_homing_current: 0.6

# M109 macro is overridden to allow some deadband on the temp
# default is +- 1 degree.  So if the set temp is 250 the the default
# deadband will be 249-251.  You can adjust this here:

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 4.0

# these values need to be set to match the location of your Calibration Switch
[gcode_macro _CALIBRATION_SWITCH]
variable_x: 52.7
variable_y: -42.10
variable_z: 10
gcode:

# [tools_calibrate]
# pin: PG10 #pin that your calibration probe is connected to.
# travel_speed: 10  # mms to travel sideways for XY probing
# spread: 7  # mms to travel down from top for XY probing
# lower_z: 1.0  # The speed (in mm/sec) to move tools down onto the probe
# speed: 2  # The speed (in mm/sec) to retract between probes
# lift_speed: 4  # Z Lift after probing done, should be greater than any Z variance between tools
# final_lift_z: 6 
# sample_retract_dist:2
# samples_tolerance:0.05
# samples_tolerance_retries:3
# samples:5
# samples_result: median # median, average
# # Settings for nozzle probe calibration - optional.
# #probe: probe # name of the nozzle probe to use
# #trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# # decrease if the nozzle is too high, increase if too low.

[axiscope]
pin: PG10                # Endstop pin
zswitch_x_pos: 53.16     # REQUIRED - X position of the endstop switch
zswitch_y_pos: -42.10     # REQUIRED - Y position of the endstop switch
zswitch_z_pos: 10        # REQUIRED - Z position + some clearance of the endstop switch
lift_z: 1                 # OPTIONAL - Amount to lift Z before moving (default: 1)
move_speed: 60            # OPTIONAL - XY movement speed in mm/s (default: 60)
z_move_speed: 10          # OPTIONAL - Z movement speed in mm/s (default: 10)
start_gcode: 
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S150
  {% endfor %}
before_pickup_gcode: M118 pickup_gcode
after_pickup_gcode: M118 after_pickup_gcode
                    # NOZZLE_SCRUBBER_W
finish_gcode: M118 Calibration complete
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S0
  {% endfor %}
  T0


[gcode_macro TOOLCHANGE_LIFT]
description: Lift Z before a toolchange, clamped to available headroom
variable_default_lift: 5.0
gcode:
    {% set want = params.Z|default(printer["gcode_macro TOOLCHANGE_LIFT"].default_lift)|float %}
    {% if 'z' in printer.toolhead.homed_axes %}
        {% set headroom = printer.toolhead.axis_maximum.z|float - printer.toolhead.position.z|float %}
        {% set lift = [want, headroom]|min %}
        {% if lift > 0.05 %}
            SAVE_GCODE_STATE NAME=_TC_LIFT
            G91
            G0 Z{lift} F3000
            RESTORE_GCODE_STATE NAME=_TC_LIFT MOVE=0
        {% endif %}
    {% endif %}

# Override klipper-toolchanger-easy's _TAP_PROBE_ACTIVATE.
# Upstream added a preheat branch; we only want the cooldown guard.
[gcode_macro _TAP_PROBE_ACTIVATE]
description: Ensure nozzle is not too hot for probing (never heats)
gcode:
    {% set max_temp = params.TEMP|default(150)|float %}
    {% set actual_temp = printer[params.HEATER].temperature %}
    {% set target_temp = printer[params.HEATER].target %}
    {% if target_temp > max_temp %}
        { action_respond_info('Extruder target %.1fC too high, lowering to %.1fC' % (target_temp, max_temp)) }
        SET_HEATER_TEMPERATURE HEATER={params.HEATER} TARGET={ max_temp|int - 5 }
    {% endif %}
    {% if actual_temp > max_temp + 2 %}
        { action_respond_info('Extruder %.1fC still too high, waiting to cool below %.1fC' % (actual_temp, max_temp)) }
        TEMPERATURE_WAIT SENSOR={params.HEATER} MAXIMUM={ max_temp }
    {% endif %}